@media screen and (max-width: 767px) {
	.preview-images img {
		width: 70px;
	}
	
	.content-wrapper > .row {
		padding-top: 55px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
	.preview-images img {
		width: 60px;
	}

	.display-gallery{
		height: 212px;
	}

	h3, .h3 {
			font-size: 20px !important;
	}
}

@media screen and (min-width: 1280px){
	.preview-images img {
		width: 90px;
	}
}